
<section class="section-form">
  <div class="container">
    <%= render 'shared/messages' %>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">  
          <div class="two-login-head">
              <%= image_tag('top-note.png') %>
              <h3>註冊</h3>
              <div class="trangle"></div>
          </div>

          <div class="well background-white" >

              <%= form_for(@user, html: { class: "form-signup", url: user_registration_path }) do |f| %>

                  <%= render partial: 'shared/errors', locals: {obj: @user} %>

                  <div class="div-fb_btn">
                    <i class="fa fa-check-circle fa-3x fa-fw check-icon"></i>
                    <div class="fb_btn_signup fb_btn hover_opacity">使用 Facebook 註冊</div>
                  </div>

                  <span class="fb_success_message"></span>

                  <div class="divider"></div>


                  <div class="form-group form-grup-email">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-envelope-o fa-2x fa-fw"></i>
                      </span>
                      <%= f.email_field(:email, class: "form-control input-flat input-email", placeholder: "信箱", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat input-email" placeholder="信箱"> -->
                    </div>
                  </div>



                  <div class="form-group form-grup-password">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-key fa-2x fa-fw"></i>
                      </span>
                      <%= f.password_field(:password, class: "form-control input-flat", placeholder: "密碼", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat" placeholder="密碼"> -->
                    </div>
                  </div>

                  <div class="form-group form-grup-password">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-lock fa-2x fa-fw"></i>
                      </span>
                      <%= f.password_field(:password_confirmation, class: "form-control input-flat", placeholder: "再輸入一次密碼", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat" placeholder="再輸入一次密碼"> -->
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-user fa-2x fa-fw"></i>
                      </span>
                      <%= f.text_field(:name, class: "form-control input-flat", placeholder: "姓名", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat" placeholder="姓名"> -->
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-phone fa-2x fa-fw"></i>
                      </span>
                      <%= f.text_field(:phone_number, class: "form-control input-flat", placeholder: "手機", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat" placeholder="手機"> -->
                    </div>
                  </div>

                  <div class="form-group form-grup-fbnickname">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                      </span>
                      <%= f.text_field(:nickname, class: "form-control input-flat input-fbnickname", placeholder: "Facebook 暱稱", hide_label: true)%>
                      <!-- <input type="text" class="form-control input-flat input-fbnickname" placeholder="Facebook 暱稱"> -->
                    </div>
                  </div>

                  <%= f.hidden_field(:provider, class: "input-provider", hide_label: true)%>
                  <%= f.hidden_field(:uid, class: "input-uid", hide_label: true)%>
  

                  <label class="label-register" for="">請問你曾參加過好時光哪些活動:</label>
                  
                  <% if params[:user] && params[:user][:course_ids] %>
                    <div class="radio radio-join">
                      <label style="color: black;" >
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                        我尚未參加過好時光
                      </label>
                    </div>
                    <div class="radio radio-join">
                      <label style="color: black;">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" checked>
                        我參加過好時光
                      </label>
                    </div>

                    <div class="div-select-multiple">
                    <label class="label-register" for="">請選擇加入過的跑團:</label>
                 
                    <%= f.select(:course_ids, Course.generateNameList, {}, class: "form-control select-group select-multiple hide", multiple: "multiple") %>
                    </div>
                    
                  <% else %>
                    <div class="radio radio-join">
                      <label style="color: black;" >
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
                        我尚未參加過好時光
                      </label>
                    </div>
                    <div class="radio radio-join">
                      <label style="color: black;">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
                        我參加過好時光
                      </label>
                    </div>

                    <div class="div-select-multiple hidden">
                    <label class="label-register" for="">請選擇加入過的跑團:</label>
                 
                    <%= f.select(:course_ids, Course.generateNameList, {}, class: "form-control select-group select-multiple hide", multiple: "multiple") %>
                    </div>

                  <% end %>


                  <!-- <select multiple="multiple" class="form-control select-group select-multiple">
                    <option selected="selected">2014 慢跑好女孩週四不偷懶</option>
                    <option>2014 好時光女生慢跑團春天班</option>
                    <option>2014 好時光女生慢跑團夏季班</option>
                    <option>2014 好時光女生慢跑團秋季班</option>
                    <option>5</option>
                  </select> -->

                  <label class="label-register" for="">地址:</label>
                  <%= f.select(:address_country, options_for_select( @addres_convert_table.keys, @user.address_country), {}, class: "form-control select-register-address selector-country") %>

                  <% 
                    if @user.address_country != nil
                      district_array = @addres_convert_table[@user.address_country.to_sym].keys
                    else
                      district_array = @addres_convert_table["台北市".to_sym].keys
                    end
                  %>
                  <%= f.select(:address_district, options_for_select( district_array, @user.address_district), {}, class: "form-control select-register-address selector-district") %>
                  <!-- <select class="form-control select-register-address selector-country">
                  </select>
                  <select class="form-control select-register-address selector-district">
                  </select> -->


                  <label class="label-register" for="">生日:</label>
                  <%= f.select(:birthday_year, options_for_select( @birthday_year_hash, @user.birthday_year), {}, class: "form-control select-register-birthday selector-birthday_year") %>
                  <%= f.select(:birthday_month, options_for_select( @birthday_month_hash, @user.birthday_month), {}, class: "form-control select-register-birthday selector-birthday_month") %>
                  <%= f.select(:birthday_date, options_for_select( @birthday_date_hash, @user.birthday_date), {}, class: "form-control select-register-birthday selector-birthday_date") %>
                  <!-- <select class="form-control select-register-birthday selector-birthday_year">
                  </select> -->

                  <!-- <select class="form-control select-register-birthday selector-birthday_month">
                  </select> -->

                  <!-- <select class="form-control select-register-birthday selector-birthday_date">
                  </select> -->

                  

                  <%= f.submit "註冊", class: "input-register-submit hover_opacity"%>

                  <div class="divider"></div>
                  <!-- <input class="input-register-submit hover_opacity" type="button" value="註冊"> -->
                  
                  <span class="login-description">已經有好時光帳號？</span>
                  <%= link_to("登入", new_user_session_path, class: "btn btn-info ")%> 

              <% end %>

              <!-- <form class="form-login" action="">

                  <div class="div-fb_btn">
                    <i class="fa fa-check-circle fa-3x fa-fw check-icon"></i>
                    <div class="fb_btn hover_opacity">使用 Facebook 註冊</div>
                  </div>

                  <span class="fb_success_message"></span>

                  <div class="divider"></div>


                  <div class="form-group form-grup-email">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-envelope-o fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat input-email" placeholder="信箱">
                    </div>
                  </div>


                  <div class="form-group form-grup-password">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-key fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="密碼">
                    </div>
                  </div>

                  <div class="form-group form-grup-password">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-lock fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="再輸入一次密碼">
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-user fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="姓名">
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-phone fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="手機">
                    </div>
                  </div>

                  <div class="form-group form-grup-fbnickname">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat input-fbnickname" placeholder="Facebook 暱稱">
   
                    </div>
                  </div>


                  <label class="label-register" for="">請選擇加入過的跑團:</label>
                  
                  <select multiple="multiple" class="form-control select-group select-multiple">
                    <option selected="selected">2014 慢跑好女孩週四不偷懶</option>
                    <option>2014 好時光女生慢跑團春天班</option>
                    <option>2014 好時光女生慢跑團夏季班</option>
                    <option>2014 好時光女生慢跑團秋季班</option>
                    <option>5</option>
                  </select>

                  <label class="label-register" for="">地址:</label>

                  <select class="form-control select-register-address selector-country">
                  </select>

                  <select class="form-control select-register-address selector-district">
                  </select>



                  <label class="label-register" for="">生日:</label>
                  <select class="form-control select-register-birthday selector-birthday_year">
                  </select>

                  <select class="form-control select-register-birthday selector-birthday_month">
                  </select>

                  <select class="form-control select-register-birthday selector-birthday_date">
                  </select>
                  
                  <div class="divider"></div>

                  <input class="input-register-submit hover_opacity" type="button" value="註冊">

                  <span class="login-description">Already a member ? Login Here</span>

              </form> --> <!-- end of form -->
          </div>  <!-- end of well -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- end of row -->
  </div>
</section>