
<section class="section-form">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">  
          <div class="two-login-head background-yellow">
              <%= image_tag('top-lock.png') %>
              <h3>登入</h3>
              <div class="trangle-yellow"></div>
          </div>

          <div class="well background-white" >


              <%= form_tag(user_session_path, class: "form-login") do %>

                  <%# render partial: 'shared/errors', locals: {obj: @user} %>
                  <% if flash[:error].present? %>
                    <br>
                    <%= render 'shared/messages' %>
                  <% end %>

                  <div class="div-fb_btn">
                    <!-- <i class="fa fa-check-circle fa-3x fa-fw check-icon"></i> -->
                    <%= link_to(user_omniauth_authorize_path(:facebook)) do%>
                      <div class="fb_btn hover_opacity fb_btn_login">使用 Facebook 登入</div>
                    <% end %>
                  </div>

                  <!-- <span class="fb_success_message"></span> -->

                  <div class="divider"></div>

                  <div class="form-group form-grup-email">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon background-yellow">
                          <i class="fa fa-envelope-o fa-2x fa-fw"></i>
                      </span>
                      <%= email_field_tag(:email, params[:email], class: "form-control input-flat input-email", placeholder: "信箱")%>
                      <!-- <input type="text" class="form-control input-flat input-email" placeholder="信箱"> -->
                    </div>
                  </div>



                  <div class="form-group form-grup-password">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon background-yellow">
                          <i class="fa fa fa-key fa-2x fa-fw"></i>
                      </span>
                      <%= password_field_tag(:password, nil, class: "form-control input-flat", placeholder: "密碼")%>
                      <!-- <input type="text" class="form-control input-flat" placeholder="密碼"> -->
                    </div>
                  </div>

                  
                  

                  <%= submit_tag "登入", class: "input-register-submit hover_opacity background-yellow"%>

                  <div class="divider"></div>
                  <!-- <input class="input-register-submit hover_opacity" type="button" value="註冊"> -->
                  
                  <%= link_to("忘記密碼？", "#", class: "login-description") %>
                  <br>
                  <span class="login-description">還沒有好時光帳號？</span>
                  <%= link_to("註冊", new_user_registration_path, class: "btn btn-info ")%> 

              <% end %>
          </div>  <!-- end of well -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- end of row -->
  </div>
</section>