
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">好時光 goodtime</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">

            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
   
                    <!-- <div class="col-md-6"> -->
                      <!-- <div class="display-table"> -->
                      <!-- <div class="left-banner"> -->
                          <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                          <hr>
                          <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                          <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                      <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> end of col-md-6 -->
                    


         
                <!-- </div> -->
            <!-- </div> end of container -->

        </div> 
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("1.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/1.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("2.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/2.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("3.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/3.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("4.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/4.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("5.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/5.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("6.jpg", class: "img-responsive", alt: "")%>
                    <!-- <img src="img/portfolio/6.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside>

<section class="section-form">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">  
          <div class="two-login-head">
              <%= image_tag('top-note.png') %>
              <h3>register</h3>
              <div class="trangle"></div>
          </div>

          <div class="well background-white" >

              <form class="form-login" action="">


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-envelope-o fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="信箱">
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-key fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="密碼">
                    </div>
                  </div>


                  <!-- <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-lock fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" value="Username">
                    </div>
                  </div> -->


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-user fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="姓名">
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa fa-phone fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat" placeholder="手機">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon span-register-icon">
                          <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                      </span>
                      <input type="text" class="form-control input-flat input-fb-name" placeholder="Facebook 暱稱">
                    </div>
                  </div>


                  <!-- <label for="">地址</label> -->
                  <!-- <span class="input-group-addon span-register-icon">
                    <i class="fa fa fa-map-marker fa-2x"></i>
                  </span> -->

                  <label class="label-register" for="">請選擇加入過的跑團:</label>
                  
                  <select multiple="multiple" class="form-control select-group select-multiple">
                    <option selected="selected">2014 慢跑好女孩週四不偷懶</option>
                    <option>2014 好時光女生慢跑團春天班</option>
                    <option>2014 好時光女生慢跑團夏季班</option>
                    <option>2014 好時光女生慢跑團秋季班</option>
                    <option>5</option>
                  </select>

                  <label class="label-register" for="">地址:</label>
                  <select class="form-control select-register-address">
                    <option>台北市</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>

                  <select class="form-control select-register-address">
                    <option>中正區</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>



                  <label class="label-register" for="">生日:</label>
                  <select class="form-control select-register-birthday">
                    <option>1990</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>

                  <select class="form-control select-register-birthday">
                    <option>4月</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>

                  <select class="form-control select-register-birthday">
                    <option>10日</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  

                  <input class="input-register-submit" type="button" value="註冊">

                  <span class="login-description">Already a member ? Login Here</span>
      
     
              </form> <!-- end of form -->
          </div>  <!-- end of well -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- end of row -->
  </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>

