<div style = "text-align: center;">
  <%= image_tag('logo_email.png') %>
  <br>

  <h3>親愛的好女孩，</h3>
   
  <h3>請點擊以下連結，重設你的密碼 </h3>

  <%= link_to "Reset My Password", password_reset_url(@user.token) %>
   
  <h3>祝 天天好時光<h3>

  <h3>好時光團隊 敬上<h3>

  <br>

  <%= image_tag('register_photo.png', width: '800') %>

  <%= link_to('好時光粉絲團2.0', 'https://www.facebook.com/girlstimegoodtime') %>
  <span> | </span>
  <%= link_to('好時光獨家產品', 'http://goodtime.mymy.tw/') %>
  <span> | </span>
  <%= link_to('區長小姐揪跑活動', 'https://www.facebook.com/groups/685426698217902/') %>
  <span> | </span>
  <%= link_to('girlstimegoodtime@gmail.com', '#') %>
</div>
