
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <!-- <div class="jumbotron hero-spacer" style="margin-top: 100px;"> -->
        <div style="margin-top: 100px;">
          <%= image_tag('banner.jpg', style: "width: 100%")%>
        </div>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>運動訓練/活動</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

         
          <% @activities.each_with_index do |activity, index| %>
            <% if(index%4 == 0)%>
              <div class="row ">
            <% end %>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag(activity.image.url) %>
                    <!-- <img src="img/event1_1.png" alt=""> -->
                    <div class="caption">
                        <h3> <%= activity.title %> </h3>
                        <p> <%= simple_format(activity.description, style: "text-align: left;") %></p>
                        <p>
                          <%= link_to("報名", activity.registration_link, target: "_blank", class: "btn btn-primary") %>

                          <%= link_to("更多資訊", activity.more_information_link, target: "_blank", class: "btn btn-default") %>
                        </p>
                    </div>
                </div>
            </div>

            <% if(index%4 == 3 || index == @activities.size - 1)%>
              </div>
            <% end %>
          <% end %>

        </div>
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Footer -->
        <!-- <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer> -->

    </div>
    <!-- /.container -->

<% content_for :customize_jquery do%>
  <script type="text/javascript">
     $('body').css('background-color', '#059292');
  </script>
  <%#= javascript_include_tag 'change_nav_href.js' %>
<% end %>

