<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom Fonts -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
  
  <link rel="icon" type="image/png" href="<%= image_path('ribbon-logo.png') %>" />

  <%=og_title("好時光-最歡樂的女生運動社群")%>
  <%=og_url(root_url)%>
  <%=og_image(image_url('fb_share.jpg'))%>
  <%#=og_image("http://placehold.it/300X300&text=No%20Pic")%>
  <%=og_site_name("好時光-最歡樂的女生運動社群")%>
  <%=og_description("一起加入好時光會員，接收第一手訊息，還可以享有會員優惠福利喔！好時光提供女孩們專業的運動訓練課程、全新的運動體驗，更重要的是，妳可以認識更多一起運動的夥伴，讓運動不在孤單乏味，徹底愛上運動！")%>


  <title>好時光-最歡樂的女生運動社群</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
 
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

<%= render 'shared/header' %>
<%= yield %>
<%= javascript_include_tag 'application'%>

</body>
</html>
