<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
    
  <title>Girlstimegoodtime</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

<%= render 'shared/header' %>
<%= yield %>
<%= javascript_include_tag 'application'%>
<script>
  // $("#mainNav").removeClass('affix-top').addClass('affix');
  // $(document).ready(function() {
  //   $("#mainNav").css("border-color", "rgba(34, 34, 34, 0.05)");
  //   $("#mainNav").css("background-color", "#fff");
  //   $(".navbar-brand").css("font-size", "14px").css("color", "#f05f40");
  // });
</script>
</body>
</html>
